<div>
  <h1>Sudoku Interative !</h1>
  <img src="/sudoku-logo.png" alt="learning internet" style="width: 300px">
</div>
<div><p id="numbs_arr"> <%= @values  %></p></div>
<div>
  <table class="sudok_tbl">
  <% counter=0 %>
  <%  @values.in_groups_of(9) do |group| %>
  <% counter = counter+1 %>
    <tr class="<%= 'row_' + counter.to_s %>">
  <% group.each_with_index do |value, index| %>
        <td id="<%= 'cell_' + ((counter-1)*9 + index).to_s %>" class = "box">
          <% if value.is_a? Integer %>
          <%= value %>
           <% else %>
           choose
           <select id="<%= 'menu_' + ((counter-1)*9 + index).to_s %>" class="drop_down_menu" style="display: none">
           <option disabled selected value>???</option>
           <option value=1>1</option>
           <option value=2>2</option>
           <option value=3>3</option>
           <option value=4>4</option>
           <option value=5>5</option>
           <option value=6>6</option>
           <option value=7>7</option>
           <option value=8>8</option>
           <option value=9>9</option>
           <select/>
           <% end %>
        </td>
    <% end %>
    </tr>
  <% end %>
  </table>
  <div>
  <p></p><p></p><p></p><hr><hr><hr>
  </div>
</div>


<div>
</div>

<div>
</div>
